@media screen and (max-width: 1200px) {
    .nav-image img{
        margin-top: 5px;
    }
    .nav-image{
        padding-right: 0;
    }
    .nav-links ul li a{
        padding: 48px 15px;
        font-size: 18px;
    }
    .intro-div{
        margin-top: 95px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .welcome-world{
        font-size: 17px;
    }
    .info>h1{
        font-size: 46px;
    }
    .single-a{
        font-size: 30px;
    }
    .developer,.ui,.coder{
        font-size: 21px;
        font-weight: 600; 
    }
    .details, .see-more-details{
        font-size: 16px;
    }
    .social{
        padding: 15px 20px;
    }
    .myimage img{
        width: 75%;
        margin-left: 15%;
    }
    .bg-image{
        width: 75%;
        margin: 0 12.5%;
        top: 100px;
    }
}

@media screen and (max-width: 992px) {
    .nav-image{
        /* padding-top: 10px;
        margin-top: 5px; */
        padding-top: 8px;
    }
    .nav-image img{
        width: 45%;
        border: 2px solid white;
    }
    .bio{
        font-size: 14px;
        font-weight: 500;
    }
    .nav-links ul li a{
        font-weight: 400;
        font-size: 16px;  
        padding: 33px 16px;
    }
    .nav-links ul li a:hover{
        font-size: 16px;
        font-weight: 700;
    }
    .top{
        width: 45px;
        height: 45px;
    }
    .intro-div{
        margin-top: 60px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .welcome-world{
        font-size: 14px;
    }
    .info>h1{
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .single-a{
        font-size: 22px;
        font-weight: 400;
    }
    .developer,.ui,.coder{
        font-size: 15px;
        font-weight: 500; 
    }
    .details, .see-more-details{
        margin-top: 30px;
        font-size: 15px;
    }
    .social{
        padding: 10px 15px;
    }
    .fb, .ig, .ld{
        font-size: 21px;
    }
    .social:hover .fb, .social:hover .ig, .social:hover .ld{
        font-size: 23px;
    }
    .myimage{
        margin-top: 50px;
    }
    .myimage img{
        width: 70%;
        margin-left: 15%;
    }
    .bg-image{
        /* width: 70%;
        margin: 50px 15% 0 15%;
        height: 250px;
        top: 80px; */
        display: none;
    }
    /* .myimage:hover .bg-image{
        height: 270px;
        top: 75px;
    } */

}

@media screen and (max-width: 768px) {
    .bio{
        display: none;
    }
    .nav-image{
        margin-top: 2px;
        padding: 8px;
        
    }
    .nav-image img{
        width: 100%;
        border: 1px solid white;
    }
    .nav-links ul li a{
        font-weight: 300;
        font-size: 12px;  
        padding: 25px 14px;
    }
    .nav-links ul li a:hover{
        font-size: 12px;
        font-weight: 700;
    }
    .top{
        width: 40px;
        height: 40px;
        bottom: 25px;
        right: 25px;
    }
    .top i{
        font-size: 12px;
    }

    
}

@media screen and (max-width: 576px) {
    .navbar-toggler{
        display: inline-block;
        border: 1px solid gainsboro;
        padding: 5px 8px;
    }
    .navbar-toggler-icon{
        width: 2em;
    }
    .navbar-toggler-icon i{
        font-size: 30px;
        color: gainsboro;
    }

    .nav-image img{
        width: 25%;
        border: 1px solid white;
    }
    .nav-image{
        padding-left: 25px;
        margin-top: 0;
        padding-right: 35px;
        padding-top: 15px;
        justify-content: space-between;
    }
    .bio{
        display: inline-block;
    }
    .nav-links{
        display: none;
    }
    .nav-links ul{
        padding-left: 0;
    }
    .nav-links ul li a{
        width: 100%;
        font-weight: 400;
        font-size: 15px;  
        padding: 12px 0;
        text-align: center;
    }
    .nav-links ul li a:hover{
        font-size: 15px;
        font-weight: 700;
    }
    .top{
        width: 30px;
        height: 30px;
        bottom: 20px;
        right: 20px;
    }
    .top i{
        font-size: 11px;
    }
   
}